setuptools~=65.6.3
selenium~=4.7.2
webdriver-manager==4.0.0
requests~=2.31.0
lxml~=4.9.2
cloudscraper~=1.2.69
undetected-chromedriver~=3.4.6
proxybroker2~=2.0.0a4
flask~=3.0.0
Flask-RESTful~=0.3.10
fastapi~=0.110.1
pydantic~=2.6.4